---
title: home
layout: base
hidetitle: true
---

{% set postList = collections.posts | limit(4) %}

{%- for post in postList %}
    <article class="home-post">
        <header class="entry-header">
            <h1 class="entry-title"><a href="{{ post.data.permalink }}">{{ post.data.title }}</a></h1>
        </header>

        {{ post.templateContent | safe }}
    </article>

    <hr class="home-divider">
{% endfor %}

<div class="pagination">
    <div>Newer Posts</div>
    <div><a href="/posts/page/2/">Older Posts</a></div>
</div>
