
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<meta name="viewport" content="width=device-width" />
		<meta name="Description" content="{{ title }}">

		<meta name="generator" content="{{ eleventy.generator }}">

		<title>{{ title }}</title>

        <link rel="stylesheet" href="/assets/fonts.css" />
        <link rel="stylesheet" href="/assets/styles2.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<link rel="stylesheet" href="/assets/styles.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="/assets/genericons.css" type="text/css" media="screen" title="no title" charset="utf-8">

		<meta property="og:title" content="{{ title }}" />
		<meta property="og:description" content="{% if excerpt %}{{ excerpt}}{% else %}nahumck.me - {{ title }}{% endif %}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://nahumck.me/" />

		<meta itemprop="name" content="{{ title }}">
		<meta itemprop="description" content="{% if excerpt %}{{ excerpt}}{% else %}nahumck.me - {{ title }}{% endif %}">

        <meta property="og:site_name" content="nahumck.me" />
        <meta property="og:image" content="/images/site/favicon.png" />
        <meta name="twitter:creator" content="@nahumck" />
        <meta name="twitter:site" content="@nahumck" />

        <link rel="icon" type="image/x-icon" href="/images/site/favicon.ico">

        <!-- End Jetpack Open Graph Tags -->
        <link rel="icon" href="/images/site/favicon.png" sizes="32x32" />
        <link rel="icon" href="/images/site/favicon.png" sizes="192x192" />
        <link rel="apple-touch-icon" href="/images/site/favicon.png" />
        <meta name="msapplication-TileImage" content="/images/site/favicon.png" />
	</head>
	<body>
        <div id="page">
            <div id="hero-header" class="site-hero-section">
                <header id="masthead" class="site-header" role="banner">
                    <div class="inner">
                        <div class="site-branding">
                            <a class="site-logo-link" href="/">
                            <img alt="" class="site-logo-image no-grav" width="80" height="80" src="/images/site/nahumck-n.png">
                            </a>

                            <p class="site-title">nahumck<span>.</span>me</p>
                        </div>

                        <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false" id="primary-menu-button">
                            Menu
                        </button>

                    </div>
                </header>
            </div>
        </div>

        <nav id="site-navigation" class="main-navigation" role="navigation">
			<div class="menu-standard-container"><ul id="primary-menu" class="menu nav-menu" aria-expanded="false"><li id="menu-item-857" class="button pill-button menu-item menu-item-type-post_type menu-item-object-page menu-item-857"><a href="/about/">About</a></li>
                <li id="menu-item-862" class="button pill-button menu-item menu-item-type-post_type menu-item-object-page menu-item-862"><a href="/archives/">Archives</a></li>
                <li id="menu-item-1778" class="button pill-button menu-item menu-item-type-post_type menu-item-object-page menu-item-1778"><a href="/appearances/">Appearances</a></li>
            </ul>
            </div>
        </nav>

        <div id="content-wrapper" class="content-wrapper">
            <div id="content" class="site-content">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main" data-pagefind-body>
                        {% if hidetitle %}
                        {% else %}
                            <header class="entry-header">
                                <h1 class="entry-title" title="title">{{ title }}</h1>
                            </header>
                        {% endif %}

                        {{ content | safe }}
                    </main>
                </div>
            </div>

            <footer id="colophon" class="site-footer" role="contentinfo">
                <div class="footer-widgets clear">
                    <div class="widget-areas">
                        <div class="widget-area">
                            <aside id="search-10" class="widget widget_search">
                                <div id="search" class="search"></div>
                                <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
                                <style>
                                    @media (prefers-color-scheme: dark) {
                                        :root {
                                        --pagefind-ui-primary: #eeeeee;
                                        --pagefind-ui-text: #eeeeee;
                                        --pagefind-ui-background: #152028;
                                        --pagefind-ui-border: #152028;
                                        --pagefind-ui-tag: #152028;
                                        }
                                    }
                                </style>
                                <script src="/_pagefind/pagefind-ui.js" onload="new PagefindUI({ element: '#search', showImages: false });"></script>
                            </aside>
                        </div>
                    </div>
                </div>
                <div class="site-info">
                    &copy; 2015 - {% year %} nahumck.me
                </div>
                </div>
            </footer>
        </div>

	</body>
</html>
